<!-- Events Section -->
<section id="events" class="events section">
  <img class="slider-bg" src="assets/img/events-bg.jpg" alt="" data-aos="fade-in" />

  <div class="container">
    <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row gy-4 event-item">
            <div class="col-lg-6">
              <img src="assets/img/events-slider/events-slider-1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Birthday Parties</h3>
              <div class="price">
                <p><span>$189</span></p>
              </div>
              <p class="fst-italic">Make your birthday celebration memorable with us</p>
              <ul>
                <li><i class="bi bi-check2-circle"></i> <span>Custom menu planning</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Decorated private area</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Birthday cake included</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row gy-4 event-item">
            <div class="col-lg-6">
              <img src="assets/img/events-slider/events-slider-2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Private Parties</h3>
              <div class="price">
                <p><span>$290</span></p>
              </div>
              <p class="fst-italic">Exclusive venue for your special occasions</p>
              <ul>
                <li><i class="bi bi-check2-circle"></i> <span>Private dining area</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Customized menu</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Professional service staff</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
