<!-- Specials Section -->
<section id="specials" class="specials section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Specials</h2>
    <div><span>Check Our</span> <span class="description-title">Specials</span></div>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1"
              >Today's Special</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2">Chef's Choice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3">Weekend Delight</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="specials-tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Grilled Salmon with Herbs</h3>
                <p class="fst-italic">Fresh Atlantic salmon grilled to perfection</p>
                <p>
                  Our signature grilled salmon is marinated in herbs and spices, served with
                  seasonal vegetables.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-1.jpg" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="specials-tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Beef Tenderloin Steak</h3>
                <p class="fst-italic">Premium cut beef cooked to your preference</p>
                <p>Hand-selected premium beef, expertly seasoned and grilled to perfection.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-2.jpg" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="specials-tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Seafood Platter</h3>
                <p class="fst-italic">A delightful combination of the ocean's finest</p>
                <p>An exquisite selection of fresh seafood expertly prepared.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-3.jpg" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
