<!-- Why Us Section -->
<section id="why-us" class="why-us section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Why Us</h2>
    <div><span>Why choose</span> <span class="description-title">Our Restaurant</span></div>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <span>01</span>
          <h4><a href="" class="stretched-link">Quality Food</a></h4>
          <p>
            Fresh ingredients and authentic recipes prepared with care and passion by our skilled
            chefs
          </p>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card-item">
          <span>02</span>
          <h4><a href="" class="stretched-link">Easy Ordering</a></h4>
          <p>Modern digital platform for seamless online ordering and table bookings</p>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card-item">
          <span>03</span>
          <h4><a href="" class="stretched-link">Fast Service</a></h4>
          <p>Quick order processing and efficient service to ensure a great dining experience</p>
        </div>
      </div>
    </div>
  </div>
</section>
